body {
}
.delete
{
    width:28px;
    height:20px;
    font-size:14px;
    font-family:Alibaba PuHuiTi;
    font-weight:400;
    line-height:22px;
    color:rgba(255,70,70,1);
    text-decoration:none;
}
.change
{
    width:28px;
    height:20px;
    font-size:14px;
    font-family:Alibaba PuHuiTi;
    font-weight:400;
    line-height:22px;
    color:rgba(24,144,255,1);
    text-decoration:none;

}
.add
{
    margin-left:35px;
    margin-top:15px;
    width:130px;
    height:32px;
    background:rgba(24,144,255,1);
    font-size:14px;
    font-family:Alibaba PuHuiTi;
    font-weight:400;
    line-height:20px;
    color:rgba(255,255,255,1);
    border-radius:6px;

}
.content
{
    width:150px;
    height:28px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(0,0,0,0.14901960784313725);
    opacity:1;
    border-radius:4px;
    margin-right:15px;

}
.ddl
{
    width:150px;
    height:32px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(0,0,0,0.14901960784313725);
    opacity:1;
    border-radius:4px;

    font-size:14px;
    font-family:Alibaba PuHuiTi;
    font-weight:400;
    line-height:20px;
    color:rgba(0,0,0,0.65);
}
#input
{
    margin-left:30px;
    margin-top:20px;
    margin-bottom:20px;
}
.bts
{
    width:74px;
    height:32px;
    background:rgba(24,144,255,1);
    font-size:14px;
    font-family:Alibaba PuHuiTi;
    font-weight:400;
    line-height:20px;
    color:rgba(255,255,255,1);
    border:1px solid rgba(24,144,255,1);
    border-radius:4px;
    margin-left:30px;

}
.tit
{
    width:45px;
    height:20px;
    font-size:14px;
    font-family:Alibaba PuHuiTi;
    font-weight:400;
    line-height:20px;
    color:rgba(0,0,0,0.85);
    opacity:1;

}
.for
{
    width:100px;
    height:32px;
    background:rgba(24,144,255,1);
    font-size:14px;
    font-family:Alibaba PuHuiTi;
    font-weight:400;
    line-height:20px;
    color:rgba(255,255,255,1);
    opacity:1;
    border:1px solid rgba(24,144,255,1);
    border-radius:5px;
    margin-left:10px;
}
.txt
{
    width:200px;
    height:28px;
    background:rgba(0,0,0,0.02);
    border:1px solid rgba(0,0,0,0.14901960784313725);
    opacity:1;
    border-radius:4px;
    margin-top:10px;
    margin-right:10px;
    padding-left:10px;
    
}
.chazhao
{
    margin-left:40px;   
    margin-top:20px;    
}
.hr
{
    width:910px;
    height:0px;
    border:1px solid rgba(0,0,0,0.11);
    opacity:1;
    margin-left:0px;
    margin-top:10px;
    
}
.find
{
    width:100px;
    height:32px;
    background:rgba(255,188,88,1);
    font-size:14px;
    font-family:Alibaba PuHuiTi;
    font-weight:400;
    line-height:20px;
    color:rgba(255,255,255,1);
    opacity:1;
    border:1px solid rgba(255,188,88,1);
    border-radius:5px;
    margin-left:10px;
    margin-bottom:25px;

}
.change2
{
    height:20px;
    font-size:16px;
    font-family:Alibaba PuHuiTi;
    font-weight:400;
    line-height:20px;
    color:rgba(0,0,0,0.85);
    opacity:1;
 }
 .txt2
{
    width:200px;
    height:28px;
    background:rgba(0,0,0,0.02);
    border:1px solid rgba(0,0,0,0.14901960784313725);
    opacity:1;
    border-radius:4px;
    margin-bottom:20px;
    margin-right:10px;
    padding-left:15px;   
}
.quxiao
{
    width:74px;
    height:34px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(0,0,0,0.14901960784313725);
    opacity:1;
    border-radius:4px;
    font-size:14px;
    font-family:Alibaba PuHuiTi;
    font-weight:400;
    line-height:20px;
    color:rgba(51,51,51,1);
    margin-left:30px;
    margin-top:10px;
}